In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)
grouped = df.groupby(by=["A"])
grouped.head()

     A      B     C     D
0  foo    one  1.09 -0.42
1  bar    one  0.94 -1.23
2  foo    two -0.35 -1.19
3  bar  three  0.82  0.82
4  foo    two  0.47  1.26
5  bar    two -0.39  1.68
6  foo    one -1.11  1.45
7  foo  three -0.18 -0.55

In [14]:
df[['A','B','C']].describe(exclude=[np.number])

          A    B
count     8    8
unique    2    3
top     foo  one
freq      5    3

In [9]:
isinstance(None,str)

False

In [1]:
a = [1,2,3]
b = a.append(4)
b